In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('dataset.csv')
dataset.head(5)

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [5]:
coordinates = pd.read_csv('https://cocl.us/Geospatial_data')
coordinates.head(5)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:


final_dataset = pd.merge(dataset, coordinates, left_on='PostalCode', right_on='Postal Code').drop(['Postal Code'], axis = 1)
final_dataset.head(5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [7]:
final_dataset.to_csv('dataset_with_coordinates.csv', index = False)

In [8]:
print("The shape of the dataset is {}".format(final_dataset.shape))

The shape of the dataset is (103, 5)